<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">

    	<h1><%= @topic.title %></h1>

      <%= paginate @blogs %>

      <%= render @blogs %>

      <%= paginate @blogs %>

      <%= link_to 'Back to Topics', topics_path %>

    </div>
    <%= render 'shared/blog_sidebar' %>    
  </div>
</main>