<aside class="col-md-4 blog-sidebar">
  <div class="p-3 mb-3 bg-light rounded">
    <h4 class="font-italic">More about me</h4>
    <p class="mb-0">
      I am Latino-American and 30 years of age.<br>  I was born and raised in the Bronx, and I am the youngest of 6 children.<br>  My interests are meditation, spirituality, philosophy, and physical fitness.<br>
      Each of my interests are connected by what I enjoy the most;<br>
      Learning, growing, and improving.
    </p>
  </div>

  <div class="p-3">
    <h4 class="font-italic">Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="#"><%= fa_icon "github" %></a></li>
      <li><a href="#"><%= fa_icon "facebook" %></a></li>
      <li><a href="#"><%= fa_icon "twitter" %></a></li>
      <li><a href="#"><%= fa_icon "instagram" %></a></li>          
      <li><a href="#"><%= fa_icon "linkedin-square" %></a></li>
    </ol>
  </div>
</aside>